body {
  margin: 0;
  background-color: #222;
}

.app {
  color: white;
}

.header {
  margin-bottom: 20px;
}

.nav button {
  margin: 5px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}