.hero-info-panel {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 80px;
  justify-content: space-between;
  pointer-events: none;
  /* This makes mouse events pass through to the canvas */
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0px 20px;
}

.hero-avatar {
  width: 52px;
  height: 52px;
  background-color: rgba(0, 216, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.hero-avatar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #00D8FF;
  bottom: 0;
}

.hero-level {
  z-index: 1;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upgrades {
  display: flex;
  gap: 50px;
}

.upgrade {
  text-align: center;
  cursor: pointer;
  pointer-events: all;
}

.non-ability-upgrade {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upgrade h3 {
  margin-bottom: 5px;
}

.upgrade-value {
  font-size: 24px;
  font-weight: bold;
}

.ability-upgrade {
  width: 56px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}

.ability-upgrade-icon {
  width: 40px;
  height: 40px;
  background-color: #4a4a4a;
  border-radius: 50%;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 54px;
  height: 8px;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  background-size: 20% 100%;
  background-repeat: repeat-x;
  background-position: 0 0;
  border: solid 1px black;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 8px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 0;
}

.custom-range::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 0;
  border: none;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-radius: 0;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-radius: 0;
}

.info-panel h2 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
}

.info-panel p {
  margin: 0;
  font-size: 14px;
}